.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.h1 {
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
